<h1 class="text-center">Controller {{ message.getMessage() }} not found</h1>

{% if fileExists %}
	<p>The file exists, please validate the namespace, controller class name and make sure the path is correct</p>
{% else %}
	<p class="text-center">File does'nt exists. Would you like to create the file?</p>

	<form action="/{{ system_routes.base_path }}/{{ system_routes.exceptions }}/controller/create" method="post" class="form-horizontal">
		{{ csrf_field() }}

		<input type="hidden" name="controller" value="{{ controller }}">
		<input type="hidden" name="namespace" value="{{ namespace }}">
		<input type="hidden" name="module" value="{{ module }}">
		<input type="submit" value="Create missing controller" class="btn btn-success btn-block">
	</form>

{% endif %}