<h1>{{ exception.getMessage() }}</h1>

<p>When creating this route, soft deletes will be restored!</p>
<form action="/{{ system_routes.base_path }}/{{ system_routes.exceptions }}/missing-route/create" method="post" class="form-horizontal">
	{{ csrf_field() }}

	<div class="form-group">
		<label for="" class="control-label col-sm-2">
			Namespace:
		</label>
		<div class="col-sm-6">
			<input type="text" name="namespace" readonly value="{{ namespace.title ? namespace.title : routeParams.namespace }}" class="form-control">
		</div>
		<div class="col-sm-4 form-control-static">
				{% if namespace %}
					{% if namespace.deleted_at %}
						<span class="label label-warning">Namespace is soft deleted</span>
					{% else %}
						<span class="label label-success">Namespace is gevonden</span>
					{% endif %}
				{% else %}
					<span class="label label-danger">Namespace not found</span>
				{% endif %}
		</div>
	</div>

	<div class="form-group">
		<label for="" class="control-label col-sm-2">
			Module
		</label>
		<div class="col-sm-6">
			<input type="text" name="module" readonly value="{{ module.title ? module.title : routeParams.module }}" class="form-control">
		</div>
		<div class="col-sm-4 form-control-static">
			{% if module %}
				{% if module.deleted_at %}
					<span class="label label-warning">
						Module is soft deleted
					</span>
				{% else %}
					<span class="label label-success">
						Module is gevonden
					</span>
				{% endif %}
			{% else %}
				<span class="label label-danger">
					Module not found
				</span>
			{% endif %}
		</div>
	</div>

	<div class="form-group">
		<label for="" class="control-label col-sm-2">
			Controller
		</label>
		<div class="col-sm-6">
			<input type="text" name="controller" readonly value="{{ controller.title ? controller.title : routeParams.controller }}" class="form-control">
		</div>
		<div class="col-sm-4 form-control-static">
			{% if controller %}
				{% if controller.deleted_at %}
					<span class="label label-warning">
						Controller is soft deleted
					</span>
				{% else %}
					<span class="label label-success">
						Controller is gevonden
					</span>
				{% endif %}
			{% else %}
				<span class="label label-danger">
					Controller not found
				</span>
			{% endif %}
		</div>
	</div>

	<div class="form-group">
		<label for="" class="control-label col-sm-2">
			Action
		</label>
		<div class="col-sm-6">
			<input type="text" name="action" readonly value="{{ method.title ? method.title : routeParams.action }}" class="form-control">
		</div>
		<div class="col-sm-4 form-control-static">
			{% if method %}
				{% if method.deleted_at %}
					<span class="label label-warning">
						Action is soft deleted
					</span>
				{% else %}
					<span class="label label-success">
						Action is gevonden
					</span>
				{% endif %}
			{% else %}
				<span class="label label-danger">
					Action not found
				</span>
			{% endif %}
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-12">
			<button class="btn btn-success btn-block">Save/Restore route</button>
		</div>
	</div>
</form>