<table class="table table-responsive table-striped">
	<thead>
		<tr>
			<td># ID</td>
			<td>Title</td>
			<td>Module</td>
			<td>Actions</td>
		</tr>
	</thead>

	<tbody>
		{% for item in controllers %}
			<tr>
				<td>{{ item.id }}</td>
				<td>{{ item.title }}</td>
				<td>{{ item.module.title }}</td>
				<td>
					<form action="/system/controllers/{{ item.uuid }}" method="post" class="btn-group">
						<a href="/system/controllers/{{ item.uuid }}/edit" class="btn btn-info">Edit</a>
						{{ csrf_field() }}
						<input type="submit" value="Delete" class="btn btn-danger">
					</form>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>