{% include 'd5300.router::partials.errors' %}

<form action="/system/namespaces/create" method="post" class="form-horizontal col-sm-6 col-sm-offset-3">

	{{ csrf_field() }}

	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Title</label>
		<div class="col-sm-8">
			<input type="text" name="title" placeholder="Namespace title" value="{{ old('title') }}" class="form-control">
		</div>
	</div>

	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Developer only</label>
		<div class="col-sm-8">
			<select name="developer_only" id="" class="form-control">
				<option value="0" {{ old('developer_only') == 0 ? 'selected' }}>No</option>
				<option value="1" {{ old('developer_only') == 1 ? 'selected' }}>Yes</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Is online</label>
		<div class="col-sm-8">
			<select name="is_online" id="" class="form-control">
				<option value="0" {{ old('is_online') == 0 ? 'selected' }}>No</option>
				<option value="1" {{ old('is_online') == 1 ? 'selected' }}>Yes</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Description</label>
		<div class="col-sm-8">
			<textarea name="description" id="" cols="60" rows="10" class="form-control">{{ old('description') }}</textarea>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-8 col-sm-offset-4">
			<input type="submit" value="Save" class="btn btn-success">
		</div>
	</div>
</form>