{% include 'd5300.router::partials.menu' %}
<table border="1">
	<thead>
		<tr>
			<td style="width: 50px;"># ID</td>
			<td style="width: 400px;">Title</td>
			<td style="width: 100px;">Is developer</td>
			<td style="width: 100px;">Is online</td>
			<td style="width: 400px;">Module</td>
			<td style="width: 100px;">Actions</td>
		</tr>
	</thead>

	<tbody>
		{% for item in namespaces %}
			<tr>
				<td>{{ item.id }}</td>
				<td>{{ item.title }}</td>
				<td>{{ item.developer_only ? 'Yes' : 'No' }}</td>
				<td>{{ item.is_online ? 'Yes' : 'No' }}</td>
				<td>{{ item.appNamespace.title }}
					{% if not item.modules is empty %}
						<ul>
							{% for module in item.modules %}
								<li>{{ module.title }}</li>
							{% endfor %}
						</ul>
					{% endif %}

				</td>
				<td>
					<a href="/system/namespaces/{{ item.uuid }}/edit">Edit</a>

					<form action="/system/namespaces/{{ item.uuid }}" method="post">
						{{ csrf_field() }}
						<input type="submit" value="Delete">
					</form>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>