<form action="/system/methods/create" method="post" class="form-horizontal">
	{{ csrf_field() }}

	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Title</label>
		<div class="col-sm-8">
			<input type="text" name="title" placeholder="Method title" value="{{ old('title') }}" class="form-control">
		</div>
	</div>

	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Developer only</label>
		<div class="col-sm-8">
			<select name="developer_only" id="" class="form-control">
				<option value="0" {{ old('developer_only') == 0 ? 'selected' }}>No</option>
				<option value="1" {{ old('developer_only') == 1 ? 'selected' }}>Yes</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Is online</label>
		<div class="col-sm-8">
			<select name="is_online" id="" class="form-control">
				<option value="0" {{ old('is_online') == 0 ? 'selected' }}>No</option>
				<option value="1" {{ old('is_online') == 1 ? 'selected' }}>Yes</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Is visible</label>
		<div class="col-sm-8">
			<select name="is_visible" id="" class="form-control">
				<option value="0" {{ old('is_visible') == 0 ? 'selected' }}>No</option>
				<option value="1" {{ old('is_visible') == 1 ? 'selected' }}>Yes</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="" class="col-sm-4 control-label">Description</label>
		<div class="col-sm-8">
			<textarea name="description" id="" cols="60" rows="10" class="form-control">{{ old('description') }}</textarea>
		</div>
	</div>

	<div class="form-group">
		<label for="" class="control-label col-sm-4">Select controller</label>
		<div class="col-sm-8">
			<select name="controller_id" id="" class="form-control">
				<option value="">Make a choice</option>
				{% for key, value in controllers %}
					<option value="{{ key }}" {{ key == old('controller_id') ? 'selected' }}>{{ value }}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="" class="control-label col-sm-4">Select request method</label>
		<div class="col-sm-8">
			<select name="request_method" class="form-control">
				{% for method in requestMethods %}
					<option value="{{ method }}" {{ old('request_method') == method ? 'selected' }}>{{ method | upper }}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-8 col-sm-offset-4">
			<input type="submit" value="Save" class="btn btn-success">
		</div>
	</div>

</form>